body {
    /* Background styles */
    background-image: url('./img/MainBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */

    /* Layout styles */
    height: 100vh;
    margin: 0;
}